/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define XXX &none
#define ___ &trans
#define COMBO_TIMEOUT_SHORT 30

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
};

/ {
    macros {
        // (|)
        pair_par: pair_par {
            label = "pair_parentheses";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
        };
        // [|]
        pair_bkt: pair_bkt {
            label = "pair_brackets";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
        };
        // {|}
        pair_brc: pair_brc {
            label = "pair_braces";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp LBRC &kp RBRC &kp LEFT>;
        };
        // '|'
        pair_sqt: pair_sqt {
            label = "pair_single_quotes";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp SQT &kp SQT &kp LEFT>;
        };
        // "|"
        pair_dqt: pair_dqt {
            label = "pair_double_quotes";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp DQT &kp DQT &kp LEFT>;
        };
        // `|`
        pair_bkt: pair_bkt {
            label = "pair_backticks";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp GRAVE &kp GRAVE &kp LEFT>;
        };
    };

/*  KEY POSITIONS
    ╭────────────────────────╮   ╭────────────────────────╮
    │  0   1   2   3   4   5 │   │  6   7   8   9  10  11 │
    │ 12  13  14  15  16  17 │   │ 18  19  20  21  22  23 │
    │ 24  25  26  27  28  29 │   │ 30  31  32  33  34  35 │
    ╰───────────╮ 36  37  38 │   │ 39  40  41 ╭───────────╯
                ╰────────────╯   ╰────────────╯            */

    combos {
        compatible = "zmk,combos";
        combo_bkt { // [|]
            timeout-ms = <COMBO_TIMEOUT_SHORT>;
            key-positions = <8 9>; // uy
            bindings = <&pair_bkt>;
            layers = <0 1 2 3>;
        };
        combo_par { // (|)
            timeout-ms = <COMBO_TIMEOUT_SHORT>;
            key-positions = <20 21>; // ei
            bindings = <&pair_par>;
            layers = <0 1 2 3>;
        };
        combo_brc { // {|}
            timeout-ms = <COMBO_TIMEOUT_SHORT>;
            key-positions = <32 33>; // ,.
            bindings = <&pair_brc>;
            layers = <0 1 2 3>;
        };
        combo_bkt { // `|`
            timeout-ms = <COMBO_TIMEOUT_SHORT>;
            key-positions = <9 10>; // y;
            bindings = <&pair_bkt>;
            layers = <0 1 2 3>;
        };
        combo_sqt { // '|'
            timeout-ms = <COMBO_TIMEOUT_SHORT>;
            key-positions = <21 22>; // io
            bindings = <&pair_sqt>;
            layers = <0 1 2 3>;
        };
        combo_dqt { // "|"
            timeout-ms = <COMBO_TIMEOUT_SHORT>;
            key-positions = <33 34>; // ./
            bindings = <&pair_dqt>;
            layers = <0 1 2 3>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        colemak_layer {
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           &kp Q         &kp W         &kp F         &kp P         &kp G             &kp J         &kp L         &kp U         &kp Y         &kp SEMI      XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &mt LCTRL TAB &kp A         &kp R         &kp S         &kp T         &kp D             &kp H         &kp N         &kp E         &kp I         &kp O         &kp BSPC
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &mt LSHFT SQT &kp Z         &kp X         &kp C         &kp V         &kp B             &kp K         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &mt RSHFT BSLH
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &mt LGUI RET  &lt 2 SPACE   &lt 1 ESC         &lt 2 SPACE   &lt 1 ESC     &kp LALT
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        symbol_layer {
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           &kp TILDE     &kp N1        &kp N2        &kp N3        &kp PIPE          &kp AMPS      &kp STAR      &kp LBKT      &kp RBKT      &kp CARET     ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp N0        &kp N4        &kp N5        &kp N6        &kp MINUS         &kp EQUAL     &kp UNDER     &kp LPAR      &kp RPAR      &kp DLLR      ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp GRAVE     &kp N7        &kp N8        &kp N9        &kp HASH          &kp PRCNT     &kp PLUS      &kp LBRC      &kp RBRC      &kp EXCL      ___
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              ___           ___           ___               ___           ___           ___
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        function_layer {
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           &kp F1        &kp F2        &kp F3        &kp F4        &kp PSCRN         ___           ___           &kp UP        ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp F5        &kp F6        &kp F7        &kp F8        &kp DEL           ___           &kp LEFT      &kp DOWN      &kp RIGHT     ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp F9        &kp F10       &kp F11       &kp F12       &kp BSPC          ___           ___           ___           ___           ___           ___
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              ___           ___           ___               ___           ___           ___
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        keyboard_layer {
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___           ___               ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___           ___               ___           ___           ___           ___           ___           ___
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              ___           ___           ___               ___           ___           ___
//                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
